* {
    /* Remove the padding and margin of all elements */
    padding: 0;
    margin: 0;
    /* the padding and border are included in the width and height of the box */
    box-sizing: border-box;
}

body {
    /* use all the space */
    min-height: 100vh;

    font-family: 'dosis', sans-serif;
}

/* Header */

header {
    background-color: #f1f1f1;
}

.header-main {
    height: 8vh;
    display: flex;
    /* the elements are disposed in row one after the other (the default value)  */
    flex-direction: row;
    /* we define the spacing between the elements (space-evenly: the spacing is the same for all the elements left and right) */
    justify-content:space-between;
    /* Alignment of elements relative to the vertical of the container */
    align-items: center;
    /* if the elements are too long to be contaied on the same line a new line is created */
    flex-wrap: wrap;
}

.header-main nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header-main nav ul li {
    margin-left: 1.5rem;
}

.header-main nav ul li a {
    text-decoration: none;
}

.header-main nav li a:hover {
    font-weight: bold;
}

/* MAIN */

.product {
    display: flex;
    /* the elements are disposed in row one after the other (the default value)  */
    flex-direction: row;
    /* we define the spacing between the elements (space-evenly: the spacing is the same for all the elements left and right) */
    justify-content: space-evenly;
    /* Alignment of elements relative to the vertical of the container */
    align-items: left;
    /* if the elements are too long to be contaied on the same line a new line is created */
    flex-wrap: wrap;
    margin: 2rem;
    /* border: 2px solid aqua; */
}

.main-article {
    background-color: #a59a9a;
    text-align: center;
    margin-bottom: 2rem;
    border: 1px solid red;
}

.main-article a {
    text-decoration: none;
    /* remove the default color of hypertext */
    color: inherit;
}

.footer-article h3 {
    font-size: 1rem;
    margin: .5rem 0;
}

/* FOOTER */

.footer {
    background-color: #f1f1f1;
    text-align: center;
    line-height: 2.5rem;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.details {
     width: 80%; 
     margin: 0 auto;
} 

table {
    margin: 2rem auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    border: 1px solid black;
}

th, td {
    padding: 20px;
}

table tbody tr {
    border-bottom: 1px solid #111111;
    background-color: #e6dddd;
}

.concert {
    width: 80%;
    margin: 0 auto;
}

.artname {
    font-family: Dancing;
    font-size: 2.3rem;
    color: #cc2e2e;
}

#search-input {
    height: 25px;
    padding:5px;
}

/* SEARCH */

.search, h1 {
    text-align: center;
    padding-top: 10px;
}

.search {
    background: rgb(217, 207, 236);
}


/* clear the 'X' from input type='search' in Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clear the 'X' input type='search' in Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
